/BecamexIDC.Authentication/bin
/BecamexIDC.Authentication/obj
/BecamexIDC.Authentication/.vscode
/BecamexIDC.Authentication/.vs
/.vscode
/BecamexIDC.Authentication/.vs/BecamexIDC.Authentication/v16/*.suo
